<h1>Pirate</h1>

<p>Pirate Name: <%= @pirate.name %></p>
<p>Pirate Weight: <%= @pirate.weight %></p>
<p>Pirate Height: <%= @pirate.height %></p>

<h2>First Ship</h2>
<p>Ship Name: <%= @ships[0].name %></p>
<p>Pirate Type: <%= @ships[0].type %></p>
<p>Ship Booty: <%= @ships[0].booty %></p>

<h2>Second Ship</h2>
<p>Ship Name: <%= @ships[1].name %></p>
<p>Pirate  Type: <%= @ships[1].type %></p>
<p>Puppy Booty: <%= @ships[1].booty %></p>
